In [10]:
#import libraries 
import ccxt
import time
import pandas as pd
from datetime import datetime, timedelta

In [109]:
# Initialize exchanges
kraken = ccxt.kraken({
    'enableRateLimit': True,
})

coinbase = ccxt.coinbase({
    'enableRateLimit': True,
})

an attempt to create a uniform fetch function

In [110]:
symbol = 'MATIC/USDT'

def fetch_recent_trades(exchange, symbol, since):
    params = {}
    if exchange.id == 'coinbase':
        until = exchange.milliseconds()
        params['until'] = until
    
    trades = exchange.fetch_trades(symbol, since=since, params=params)
    return pd.DataFrame(trades)

In [123]:
# Test the function for kraken exchange
now = datetime.utcnow()
since = int((now - timedelta(hours=24)).timestamp() * 1000)

df_kraken = fetch_recent_trades(kraken, symbol, since)
df_kraken.head()

,id,order,info,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,392211,None,"[0.55370000, 15.22575579, 1719676057.8296237, ...",1719676057829,2024-06-29T15:47:37.829Z,MATIC/USDT,limit,buy,None,0.5537,15.225756,8.430501,None,[]
1,392212,None,"[0.55380000, 6.18827309, 1719676095.0575628, b...",1719676095057,2024-06-29T15:48:15.057Z,MATIC/USDT,limit,buy,None,0.5538,6.188273,3.427066,None,[]
2,392213,None,"[0.55390000, 6.00000000, 1719676096.3956041, b...",1719676096395,2024-06-29T15:48:16.395Z,MATIC/USDT,limit,buy,None,0.5539,6.000000,3.323400,None,[]
3,392214,None,"[0.55390000, 12.90900563, 1719676097.2125778, ...",1719676097212,2024-06-29T15:48:17.212Z,MATIC/USDT,limit,buy,None,0.5539,12.909006,7.150298,None,[]
4,392215,None,"[0.55410000, 71.21444784, 1719676601.7601047, ...",1719676601760,2024-06-29T15:56:41.760Z,MATIC/USDT,limit,buy,None,0.5541,71.214448,39.459926,None,[]

In [124]:
df_kraken.info()
df_kraken.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            209 non-null    object
 1   order         0 non-null      object
 2   info          209 non-null    object
 3   timestamp     209 non-null    int64
 4   datetime      209 non-null    object
 5   symbol        209 non-null    object
 6   type          209 non-null    object
 7   side          209 non-null    object
 8   takerOrMaker  0 non-null      object
 9   price         209 non-null    float64
 10  amount        209 non-null    float64
 11  cost          209 non-null    float64
 12  fee           0 non-null      object
 13  fees          209 non-null    object
dtypes: float64(3), int64(1), object(10)
memory usage: 23.0+ KB

          timestamp       price       amount         cost
count  2.090000e+02  209.000000   209.000000   209.000000
mean   1.719708e+12    0.551043   236.712000   130.400455
std    1.953397e+07    0.003123   533.095471   293.880335
min    1.719676e+12    0.545100     2.874698     1.577922
25%    1.719690e+12    0.548300    26.184508    14.432987
50%    1.719711e+12    0.551300    61.032414    33.476279
75%    1.719731e+12    0.552900   135.260638    74.252107
max    1.719737e+12    0.557300  4149.149796  2289.500858

In [127]:
#Test the function for coinbase exchange
df_coinbase = fetch_recent_trades(coinbase, symbol, since)
df_coinbase.head()

,info,id,order,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,"{'trade_id': '1000253', 'product_id': 'MATIC-U...",1000253,None,1719676047399,2024-06-29T15:47:27.399715Z,MATIC/USDT,None,sell,None,0.554,400.00,221.60000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
1,"{'trade_id': '1000254', 'product_id': 'MATIC-U...",1000254,None,1719679778071,2024-06-29T16:49:38.071053Z,MATIC/USDT,None,sell,None,0.552,400.00,220.80000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
2,"{'trade_id': '1000255', 'product_id': 'MATIC-U...",1000255,None,1719679778211,2024-06-29T16:49:38.211067Z,MATIC/USDT,None,sell,None,0.552,659.49,364.03848,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
3,"{'trade_id': '1000256', 'product_id': 'MATIC-U...",1000256,None,1719680527693,2024-06-29T17:02:07.693162Z,MATIC/USDT,None,buy,None,0.551,487.97,268.87147,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
4,"{'trade_id': '1000257', 'product_id': 'MATIC-U...",1000257,None,1719680527844,2024-06-29T17:02:07.844068Z,MATIC/USDT,None,buy,None,0.551,24.06,13.25706,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"

In [126]:
df_coinbase.info()
df_coinbase.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   info          105 non-null    object
 1   id            105 non-null    object
 2   order         0 non-null      object
 3   timestamp     105 non-null    int64
 4   datetime      105 non-null    object
 5   symbol        105 non-null    object
 6   type          0 non-null      object
 7   side          105 non-null    object
 8   takerOrMaker  0 non-null      object
 9   price         105 non-null    float64
 10  amount        105 non-null    float64
 11  cost          105 non-null    float64
 12  fee           105 non-null    object
 13  fees          105 non-null    object
dtypes: float64(3), int64(1), object(10)
memory usage: 11.6+ KB

          timestamp       price       amount         cost
count  1.050000e+02  105.000000   105.000000   105.000000
mean   1.719712e+12    0.550762   410.759048   226.478444
std    1.837764e+07    0.003899   517.208516   286.140866
min    1.719676e+12    0.545000    10.310000     5.629260
25%    1.719700e+12    0.548000    65.000000    35.425000
50%    1.719713e+12    0.550000   400.000000   218.000000
75%    1.719731e+12    0.554000   400.000000   222.000000
max    1.719736e+12    0.558000  2542.580000  1416.217060

In [128]:
df_kraken['timestamp'] = pd.to_datetime(df_kraken['timestamp'], unit='ms')
df_kraken.head()

,id,order,info,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,392211,None,"[0.55370000, 15.22575579, 1719676057.8296237, ...",2024-06-29 15:47:37.829,2024-06-29T15:47:37.829Z,MATIC/USDT,limit,buy,None,0.5537,15.225756,8.430501,None,[]
1,392212,None,"[0.55380000, 6.18827309, 1719676095.0575628, b...",2024-06-29 15:48:15.057,2024-06-29T15:48:15.057Z,MATIC/USDT,limit,buy,None,0.5538,6.188273,3.427066,None,[]
2,392213,None,"[0.55390000, 6.00000000, 1719676096.3956041, b...",2024-06-29 15:48:16.395,2024-06-29T15:48:16.395Z,MATIC/USDT,limit,buy,None,0.5539,6.000000,3.323400,None,[]
3,392214,None,"[0.55390000, 12.90900563, 1719676097.2125778, ...",2024-06-29 15:48:17.212,2024-06-29T15:48:17.212Z,MATIC/USDT,limit,buy,None,0.5539,12.909006,7.150298,None,[]
4,392215,None,"[0.55410000, 71.21444784, 1719676601.7601047, ...",2024-06-29 15:56:41.760,2024-06-29T15:56:41.760Z,MATIC/USDT,limit,buy,None,0.5541,71.214448,39.459926,None,[]

In [129]:
df_kraken.tail()

,id,order,info,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
204,392415,None,"[0.55500000, 75.09675516, 1719736076.305353, b...",2024-06-30 08:27:56.305,2024-06-30T08:27:56.305Z,MATIC/USDT,market,buy,None,0.5550,75.096755,41.678699,None,[]
205,392416,None,"[0.55510000, 126.00000000, 1719736076.305353, ...",2024-06-30 08:27:56.305,2024-06-30T08:27:56.305Z,MATIC/USDT,market,buy,None,0.5551,126.000000,69.942600,None,[]
206,392417,None,"[0.55510000, 803.07335878, 1719736076.305353, ...",2024-06-30 08:27:56.305,2024-06-30T08:27:56.305Z,MATIC/USDT,market,buy,None,0.5551,803.073359,445.786021,None,[]
207,392418,None,"[0.55540000, 126.00000000, 1719736741.34438, s...",2024-06-30 08:39:01.344,2024-06-30T08:39:01.344Z,MATIC/USDT,market,sell,None,0.5554,126.000000,69.980400,None,[]
208,392419,None,"[0.55540000, 26.18450800, 1719736741.34438, s,...",2024-06-30 08:39:01.344,2024-06-30T08:39:01.344Z,MATIC/USDT,market,sell,None,0.5554,26.184508,14.542876,None,[]

In [130]:
df_coinbase['timestamp'] = pd.to_datetime(df_coinbase['timestamp'], unit='ms')
df_coinbase.head()

,info,id,order,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,"{'trade_id': '1000253', 'product_id': 'MATIC-U...",1000253,None,2024-06-29 15:47:27.399,2024-06-29T15:47:27.399715Z,MATIC/USDT,None,sell,None,0.554,400.00,221.60000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
1,"{'trade_id': '1000254', 'product_id': 'MATIC-U...",1000254,None,2024-06-29 16:49:38.071,2024-06-29T16:49:38.071053Z,MATIC/USDT,None,sell,None,0.552,400.00,220.80000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
2,"{'trade_id': '1000255', 'product_id': 'MATIC-U...",1000255,None,2024-06-29 16:49:38.211,2024-06-29T16:49:38.211067Z,MATIC/USDT,None,sell,None,0.552,659.49,364.03848,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
3,"{'trade_id': '1000256', 'product_id': 'MATIC-U...",1000256,None,2024-06-29 17:02:07.693,2024-06-29T17:02:07.693162Z,MATIC/USDT,None,buy,None,0.551,487.97,268.87147,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
4,"{'trade_id': '1000257', 'product_id': 'MATIC-U...",1000257,None,2024-06-29 17:02:07.844,2024-06-29T17:02:07.844068Z,MATIC/USDT,None,buy,None,0.551,24.06,13.25706,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"

In [131]:
df_coinbase.tail()

,info,id,order,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
101,"{'trade_id': '1000354', 'product_id': 'MATIC-U...",1000354,None,2024-06-30 08:17:02.856,2024-06-30T08:17:02.856317Z,MATIC/USDT,None,sell,None,0.555,400.00,222.0000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
102,"{'trade_id': '1000355', 'product_id': 'MATIC-U...",1000355,None,2024-06-30 08:17:07.347,2024-06-30T08:17:07.347240Z,MATIC/USDT,None,sell,None,0.556,400.00,222.4000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
103,"{'trade_id': '1000356', 'product_id': 'MATIC-U...",1000356,None,2024-06-30 08:26:42.097,2024-06-30T08:26:42.097083Z,MATIC/USDT,None,sell,None,0.555,1819.56,1009.8558,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
104,"{'trade_id': '1000357', 'product_id': 'MATIC-U...",1000357,None,2024-06-30 08:27:57.262,2024-06-30T08:27:57.262185Z,MATIC/USDT,None,sell,None,0.555,400.00,222.0000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
105,"{'trade_id': '1000358', 'product_id': 'MATIC-U...",1000358,None,2024-06-30 08:47:11.163,2024-06-30T08:47:11.163427Z,MATIC/USDT,None,sell,None,0.556,400.00,222.4000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"

Now calculate mean buy/sell ratios for each exchange

In [62]:
kraken_buy_sell = (df_kraken[df_kraken['side'] == 'buy']['amount'].sum()) / (df_kraken[df_kraken['side'] == 'sell']['amount'].sum())
kraken_buy_sell

1.4537813776848734

In [63]:
coinbase_buy_sell = (df_coinbase[df_coinbase['side'] == 'buy']['amount'].sum()) / (df_coinbase[df_coinbase['side'] == 'sell']['amount'].sum())
coinbase_buy_sell

0.5043910278771553

In [76]:
#calculate the mean buy/sell ratios 

def calculate_mean_buy_sell_ratio(trades, interval_hours=4):
    # Convert timestamp to datetime and set as index
    trades['datetime'] = pd.to_datetime(trades['timestamp'], unit='ms')
    trades.set_index('datetime', inplace=True)

    # Resample trades into 1-minute intervals
    resampled = trades.resample(f'{interval_hours}H')

    ratios = []
    for interval_start, interval_trades in resampled:
        buy_volume = interval_trades[interval_trades['side'] == 'buy']['amount'].sum()
        sell_volume = interval_trades[interval_trades['side'] == 'sell']['amount'].sum()
        
        if sell_volume != 0:
            ratio = buy_volume / sell_volume
        else:
            ratio = 1  # come back to this, should it be 0? 
        
        ratios.append(ratio)
        print(f"Interval starting at {interval_start}: ratio = {ratio:.2f}")

    # Calculate the mean of the ratios
    mean_ratio = sum(ratios) / len(ratios) if ratios else 1 # come back to this, should it be 0?

    return mean_ratio

Test function

In [77]:
kraken_mean_ratio = calculate_mean_buy_sell_ratio(df_kraken)
print(kraken_mean_ratio)

Interval starting at 2024-06-29 08:00:00: ratio = 2.42
Interval starting at 2024-06-29 12:00:00: ratio = 0.47
Interval starting at 2024-06-29 16:00:00: ratio = 0.78
Interval starting at 2024-06-29 20:00:00: ratio = 2.02
Interval starting at 2024-06-30 00:00:00: ratio = 1.00
1.3392251979938288

In [78]:
coinbase_mean_ratio = calculate_mean_buy_sell_ratio(df_coinbase)
print(coinbase_mean_ratio)

Interval starting at 2024-06-29 08:00:00: ratio = 0.36
Interval starting at 2024-06-29 12:00:00: ratio = 1.18
Interval starting at 2024-06-29 16:00:00: ratio = 0.27
Interval starting at 2024-06-29 20:00:00: ratio = 0.01
Interval starting at 2024-06-30 00:00:00: ratio = 0.21
0.4066426616023272

In [79]:
def make_decision(kraken_mean_ratio, coinbase_mean_ratio):
    if kraken_mean_ratio > coinbase_mean_ratio:
        return 'sell_kraken_buy_coinbase'
    elif coinbase_mean_ratio > kraken_mean_ratio:
        return 'sell_coinbase_buy_kraken'
    return 'no_trade'

In [85]:

# Test the function
decision = make_decision(kraken_mean_ratio, coinbase_mean_ratio)
print(decision)

sell_kraken_buy_coinbase

In [92]:

def execute_trade(decision, amount = 1):
    if decision == 'sell_kraken_buy_coinbase':
        return f"Selling {amount} MATIC-USDT on Kraken\nBuying {amount} MATIC-USDT on Coinbase" 
    elif decision == 'sell_coinbase_buy_kraken':
        return f"Selling {amount} MATIC-USDT on Coinbase\nBuying {amount} MATIC-USDT on Kraken"
    else:
        return "No trade executed"

In [95]:
# Test the function
print(execute_trade(decision))

Selling 1 MATIC-USDT on Kraken
Buying 1 MATIC-USDT on Coinbase

In [7]:
# live trading logic 

# def execute_trade(decision, okx, bybit, symbol, amount=1):
#     if decision == 'sell_okx_buy_bybit':
#         okx.create_market_sell_order(symbol, amount)
#         bybit.create_market_buy_order(symbol, amount)
#         print(f"Sold {amount} {symbol} on OKX, Bought {amount} {symbol} on ByBit")
#     elif decision == 'sell_bybit_buy_okx':
#         bybit.create_market_sell_order(symbol, amount)
#         okx.create_market_buy_order(symbol, amount)
#         print(f"Sold {amount} {symbol} on ByBit, Bought {amount} {symbol} on OKX")
#     else:
#         print("No trade executed")

## Automated Trading ##

In [ ]:
def main():
    start_time = datetime.utcnow()
    end_time = start_time + timedelta(minutes=5) # run for __ minutes 
    iteration_count = 0
    trade_count = 0 


    while datetime.utcnow() < end_time:
        try:
            iteration_count += 1
            current_time = datetime.utcnow()
            print(f"\nIteration {iteration_count} at {current_time}")

            since = int((current_time - timedelta(minutes=10)).timestamp() * 1000)

            # Fetch recent trades
            kraken_trades = fetch_recent_trades(kraken, symbol, since)
            coinbase_trades = fetch_recent_trades(coinbase, symbol, since)

            # Calculate mean buy/sell ratios
            kraken_mean_ratio = calculate_mean_buy_sell_ratio(kraken_trades)
            coinbase_mean_ratio = calculate_mean_buy_sell_ratio(coinbase_trades)

            print(f"Kraken mean buy/sell ratio: {kraken_mean_ratio:.4f}")
            print(f"Coinbase mean buy/sell ratio: {coinbase_mean_ratio:.4f}")

            # Make decision and execute trade
            decision = make_decision(kraken_mean_ratio, coinbase_mean_ratio)
            if decision != 'no_trade':
                trade_count += 1
            print(execute_trade(decision))

            # Calculate and print time remaining
            time_remaining = end_time - current_time
            print(f"Time remaining: {time_remaining}")

            # Wait for 1 minute before next iteration
            time.sleep(60)

        except Exception as e:
            print(f"An error occurred: {e}")
            time.sleep(60)  # Wait a minute before retrying

    print(f"Strategy execution completed. Total iterations: {iteration_count}, Total trades executed: {trade_count}")

# Run the main function
main()