In [1]:
#import libraries 
import ccxt
import time
import pandas as pd
from datetime import datetime, timedelta

In [12]:
# Initialize exchanges
kraken = ccxt.kraken({
    'enableRateLimit': True,
})

coinbase = ccxt.coinbase({
    'enableRateLimit': True,
})

an attempt to create a uniform fetch function

In [13]:
symbol = 'MATIC/USDT'

def fetch_recent_trades(exchange, symbol, since):
    params = {}
    if exchange.id == 'coinbase':
        until = exchange.milliseconds()
        params['until'] = until
    
    trades = exchange.fetch_trades(symbol, since=since, params=params)
    return pd.DataFrame(trades)

In [14]:
# Test the function for kraken exchange
now = datetime.utcnow()
since = int((now - timedelta(hours=24)).timestamp() * 1000)

df_kraken = fetch_recent_trades(kraken, symbol, since)
df_kraken.head()

,id,order,info,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,392330,None,"[0.54700000, 35.61090516, 1719715025.2963831, ...",1719715025296,2024-06-30T02:37:05.296Z,MATIC/USDT,limit,buy,None,0.5470,35.610905,19.479165,None,[]
1,392331,None,"[0.54710000, 50.24560983, 1719715028.285515, b...",1719715028285,2024-06-30T02:37:08.285Z,MATIC/USDT,limit,buy,None,0.5471,50.245610,27.489373,None,[]
2,392332,None,"[0.54730000, 25.26279700, 1719715029.191654, b...",1719715029191,2024-06-30T02:37:09.191Z,MATIC/USDT,market,buy,None,0.5473,25.262797,13.826329,None,[]
3,392333,None,"[0.54730000, 13.99872714, 1719715031.596326, b...",1719715031596,2024-06-30T02:37:11.596Z,MATIC/USDT,market,buy,None,0.5473,13.998727,7.661503,None,[]
4,392334,None,"[0.54740000, 26.41914185, 1719715031.596326, b...",1719715031596,2024-06-30T02:37:11.596Z,MATIC/USDT,market,buy,None,0.5474,26.419142,14.461838,None,[]

In [15]:
df_kraken.info()
df_kraken.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            182 non-null    object
 1   order         0 non-null      object
 2   info          182 non-null    object
 3   timestamp     182 non-null    int64
 4   datetime      182 non-null    object
 5   symbol        182 non-null    object
 6   type          182 non-null    object
 7   side          182 non-null    object
 8   takerOrMaker  0 non-null      object
 9   price         182 non-null    float64
 10  amount        182 non-null    float64
 11  cost          182 non-null    float64
 12  fee           0 non-null      object
 13  fees          182 non-null    object
dtypes: float64(3), int64(1), object(10)
memory usage: 20.0+ KB

          timestamp       price       amount         cost
count  1.820000e+02  182.000000   182.000000   182.000000
mean   1.719744e+12    0.551016   186.779067   102.935881
std    1.961042e+07    0.003143   381.090480   210.193041
min    1.719715e+12    0.545800     0.055254     0.030406
25%    1.719731e+12    0.548400    25.217023    13.834989
50%    1.719738e+12    0.550600    55.377612    30.477436
75%    1.719764e+12    0.552975   126.000000    69.457500
max    1.719775e+12    0.557300  2486.007981  1373.022208

In [16]:
#Test the function for coinbase exchange
df_coinbase = fetch_recent_trades(coinbase, symbol, since)
df_coinbase.head()

,info,id,order,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,"{'trade_id': '1000317', 'product_id': 'MATIC-U...",1000317,None,1719715663898,2024-06-30T02:47:43.898796Z,MATIC/USDT,None,sell,None,0.546,400.00,218.40000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
1,"{'trade_id': '1000318', 'product_id': 'MATIC-U...",1000318,None,1719716149791,2024-06-30T02:55:49.791617Z,MATIC/USDT,None,sell,None,0.547,400.00,218.80000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
2,"{'trade_id': '1000319', 'product_id': 'MATIC-U...",1000319,None,1719719718661,2024-06-30T03:55:18.661959Z,MATIC/USDT,None,sell,None,0.548,2248.89,1232.39172,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
3,"{'trade_id': '1000320', 'product_id': 'MATIC-U...",1000320,None,1719719718870,2024-06-30T03:55:18.870153Z,MATIC/USDT,None,sell,None,0.549,400.00,219.60000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
4,"{'trade_id': '1000321', 'product_id': 'MATIC-U...",1000321,None,1719720088187,2024-06-30T04:01:28.187905Z,MATIC/USDT,None,buy,None,0.548,456.63,250.23324,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"

In [17]:
df_coinbase.info()
df_coinbase.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   info          124 non-null    object
 1   id            124 non-null    object
 2   order         0 non-null      object
 3   timestamp     124 non-null    int64
 4   datetime      124 non-null    object
 5   symbol        124 non-null    object
 6   type          0 non-null      object
 7   side          124 non-null    object
 8   takerOrMaker  0 non-null      object
 9   price         124 non-null    float64
 10  amount        124 non-null    float64
 11  cost          124 non-null    float64
 12  fee           124 non-null    object
 13  fees          124 non-null    object
dtypes: float64(3), int64(1), object(10)
memory usage: 13.7+ KB

          timestamp       price       amount         cost
count  1.240000e+02  124.000000   124.000000   124.000000
mean   1.719744e+12    0.551952   557.682581   307.794721
std    1.353936e+07    0.003164   686.713310   379.295830
min    1.719716e+12    0.546000     1.810000     0.995500
25%    1.719732e+12    0.550000   107.925000    59.494680
50%    1.719746e+12    0.551000   400.000000   219.400000
75%    1.719752e+12    0.555000   440.220000   242.544810
max    1.719775e+12    0.558000  2846.940000  1580.051700

In [18]:
df_kraken['timestamp'] = pd.to_datetime(df_kraken['timestamp'], unit='ms')
df_kraken.head()

,id,order,info,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,392330,None,"[0.54700000, 35.61090516, 1719715025.2963831, ...",2024-06-30 02:37:05.296,2024-06-30T02:37:05.296Z,MATIC/USDT,limit,buy,None,0.5470,35.610905,19.479165,None,[]
1,392331,None,"[0.54710000, 50.24560983, 1719715028.285515, b...",2024-06-30 02:37:08.285,2024-06-30T02:37:08.285Z,MATIC/USDT,limit,buy,None,0.5471,50.245610,27.489373,None,[]
2,392332,None,"[0.54730000, 25.26279700, 1719715029.191654, b...",2024-06-30 02:37:09.191,2024-06-30T02:37:09.191Z,MATIC/USDT,market,buy,None,0.5473,25.262797,13.826329,None,[]
3,392333,None,"[0.54730000, 13.99872714, 1719715031.596326, b...",2024-06-30 02:37:11.596,2024-06-30T02:37:11.596Z,MATIC/USDT,market,buy,None,0.5473,13.998727,7.661503,None,[]
4,392334,None,"[0.54740000, 26.41914185, 1719715031.596326, b...",2024-06-30 02:37:11.596,2024-06-30T02:37:11.596Z,MATIC/USDT,market,buy,None,0.5474,26.419142,14.461838,None,[]

In [19]:
df_kraken.tail()

,id,order,info,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
177,392507,None,"[0.55220000, 898.28362908, 1719773225.1353142,...",2024-06-30 18:47:05.135,2024-06-30T18:47:05.135Z,MATIC/USDT,limit,sell,None,0.5522,898.283629,496.032220,None,[]
178,392508,None,"[0.55230000, 13.73550229, 1719773326.6473424, ...",2024-06-30 18:48:46.647,2024-06-30T18:48:46.647Z,MATIC/USDT,limit,buy,None,0.5523,13.735502,7.586118,None,[]
179,392509,None,"[0.55230000, 2151.24485430, 1719773326.6473424...",2024-06-30 18:48:46.647,2024-06-30T18:48:46.647Z,MATIC/USDT,limit,buy,None,0.5523,2151.244854,1188.132533,None,[]
180,392510,None,"[0.55230000, 309.53554192, 1719773326.6473424,...",2024-06-30 18:48:46.647,2024-06-30T18:48:46.647Z,MATIC/USDT,limit,buy,None,0.5523,309.535542,170.956480,None,[]
181,392511,None,"[0.55270000, 115.17563100, 1719775467.016201, ...",2024-06-30 19:24:27.016,2024-06-30T19:24:27.016Z,MATIC/USDT,market,sell,None,0.5527,115.175631,63.657571,None,[]

In [20]:
df_coinbase['timestamp'] = pd.to_datetime(df_coinbase['timestamp'], unit='ms')
df_coinbase.head()

,info,id,order,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
0,"{'trade_id': '1000317', 'product_id': 'MATIC-U...",1000317,None,2024-06-30 02:47:43.898,2024-06-30T02:47:43.898796Z,MATIC/USDT,None,sell,None,0.546,400.00,218.40000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
1,"{'trade_id': '1000318', 'product_id': 'MATIC-U...",1000318,None,2024-06-30 02:55:49.791,2024-06-30T02:55:49.791617Z,MATIC/USDT,None,sell,None,0.547,400.00,218.80000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
2,"{'trade_id': '1000319', 'product_id': 'MATIC-U...",1000319,None,2024-06-30 03:55:18.661,2024-06-30T03:55:18.661959Z,MATIC/USDT,None,sell,None,0.548,2248.89,1232.39172,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
3,"{'trade_id': '1000320', 'product_id': 'MATIC-U...",1000320,None,2024-06-30 03:55:18.870,2024-06-30T03:55:18.870153Z,MATIC/USDT,None,sell,None,0.549,400.00,219.60000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
4,"{'trade_id': '1000321', 'product_id': 'MATIC-U...",1000321,None,2024-06-30 04:01:28.187,2024-06-30T04:01:28.187905Z,MATIC/USDT,None,buy,None,0.548,456.63,250.23324,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"

In [21]:
df_coinbase.tail()

,info,id,order,timestamp,datetime,symbol,type,side,takerOrMaker,price,amount,cost,fee,fees
119,"{'trade_id': '1000436', 'product_id': 'MATIC-U...",1000436,None,2024-06-30 18:46:11.415,2024-06-30T18:46:11.415069Z,MATIC/USDT,None,sell,None,0.552,189.10,104.38320,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
120,"{'trade_id': '1000437', 'product_id': 'MATIC-U...",1000437,None,2024-06-30 18:48:31.251,2024-06-30T18:48:31.251573Z,MATIC/USDT,None,buy,None,0.552,5.90,3.25680,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
121,"{'trade_id': '1000438', 'product_id': 'MATIC-U...",1000438,None,2024-06-30 18:53:05.153,2024-06-30T18:53:05.153371Z,MATIC/USDT,None,buy,None,0.553,97.50,53.91750,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
122,"{'trade_id': '1000439', 'product_id': 'MATIC-U...",1000439,None,2024-06-30 19:08:18.992,2024-06-30T19:08:18.992522Z,MATIC/USDT,None,sell,None,0.553,1000.00,553.00000,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"
123,"{'trade_id': '1000440', 'product_id': 'MATIC-U...",1000440,None,2024-06-30 19:13:58.015,2024-06-30T19:13:58.015383Z,MATIC/USDT,None,buy,None,0.551,34.35,18.92685,"{'cost': None, 'currency': None}","[{'cost': None, 'currency': None}]"

Now calculate mean buy/sell ratios for each exchange

In [22]:
kraken_buy_sell = (df_kraken[df_kraken['side'] == 'buy']['amount'].sum()) / (df_kraken[df_kraken['side'] == 'sell']['amount'].sum())
kraken_buy_sell

1.303990188895799

In [23]:
coinbase_buy_sell = (df_coinbase[df_coinbase['side'] == 'buy']['amount'].sum()) / (df_coinbase[df_coinbase['side'] == 'sell']['amount'].sum())
coinbase_buy_sell

0.7957167752495016

In [32]:
#calculate the mean buy/sell ratios 

def calculate_mean_buy_sell_ratio(trades, interval_hours=4):
    # Convert timestamp to datetime and set as index
    trades['date_time'] = pd.to_datetime(trades['timestamp'], unit='ms')
    trades.set_index('date_time', inplace=True)

    # Resample trades into 1-minute intervals
    resampled = trades.resample(f'{interval_hours}H')

    ratios = []
    for interval_start, interval_trades in resampled:
        buy_volume = interval_trades[interval_trades['side'] == 'buy']['amount'].sum()
        sell_volume = interval_trades[interval_trades['side'] == 'sell']['amount'].sum()
        
        if sell_volume != 0:
            ratio = buy_volume / sell_volume
        else:
            ratio = 1  # come back to this, should it be 0? 
        
        ratios.append(ratio)
        # print(f"Interval starting at {interval_start}: ratio = {ratio:.2f}")

    # Calculate the mean of the ratios
    mean_ratio = sum(ratios) / len(ratios) if ratios else 1 # come back to this, should it be 0?

    return mean_ratio

Test function

In [33]:
kraken_mean_ratio = calculate_mean_buy_sell_ratio(df_kraken)
print(kraken_mean_ratio)

2.0670150679404364

In [34]:
coinbase_mean_ratio = calculate_mean_buy_sell_ratio(df_coinbase)
print(coinbase_mean_ratio)

0.6496489486991373

In [27]:
def make_decision(kraken_mean_ratio, coinbase_mean_ratio):
    if kraken_mean_ratio > coinbase_mean_ratio:
        return 'sell_kraken_buy_coinbase'
    elif coinbase_mean_ratio > kraken_mean_ratio:
        return 'sell_coinbase_buy_kraken'
    return 'no_trade'

In [28]:

# Test the function
decision = make_decision(kraken_mean_ratio, coinbase_mean_ratio)
print(decision)

sell_kraken_buy_coinbase

In [29]:

def execute_trade(decision, amount = 1):
    if decision == 'sell_kraken_buy_coinbase':
        return f"Selling {amount} MATIC-USDT on Kraken\nBuying {amount} MATIC-USDT on Coinbase" 
    elif decision == 'sell_coinbase_buy_kraken':
        return f"Selling {amount} MATIC-USDT on Coinbase\nBuying {amount} MATIC-USDT on Kraken"
    else:
        return "No trade executed"

In [30]:
# Test the function
print(execute_trade(decision))

Selling 1 MATIC-USDT on Kraken
Buying 1 MATIC-USDT on Coinbase

In [7]:
# live trading logic 

# def execute_trade(decision, okx, bybit, symbol, amount=1):
#     if decision == 'sell_okx_buy_bybit':
#         okx.create_market_sell_order(symbol, amount)
#         bybit.create_market_buy_order(symbol, amount)
#         print(f"Sold {amount} {symbol} on OKX, Bought {amount} {symbol} on ByBit")
#     elif decision == 'sell_bybit_buy_okx':
#         bybit.create_market_sell_order(symbol, amount)
#         okx.create_market_buy_order(symbol, amount)
#         print(f"Sold {amount} {symbol} on ByBit, Bought {amount} {symbol} on OKX")
#     else:
#         print("No trade executed")

## Automated Trading ##

In [35]:
def main():
    start_time = datetime.utcnow()
    end_time = start_time + timedelta(minutes=5) # run for __ minutes 
    iteration_count = 0
    trade_count = 0 


    while datetime.utcnow() < end_time:
        try:
            iteration_count += 1
            current_time = datetime.utcnow()
            print(f"\nIteration {iteration_count} at {current_time}")

            since = int((current_time - timedelta(hours=24)).timestamp() * 1000)

            # Fetch recent trades
            kraken_trades = fetch_recent_trades(kraken, symbol, since)
            coinbase_trades = fetch_recent_trades(coinbase, symbol, since)

            # Calculate mean buy/sell ratios
            kraken_mean_ratio = calculate_mean_buy_sell_ratio(kraken_trades)
            coinbase_mean_ratio = calculate_mean_buy_sell_ratio(coinbase_trades)

            print(f"Kraken mean buy/sell ratio: {kraken_mean_ratio:.4f}")
            print(f"Coinbase mean buy/sell ratio: {coinbase_mean_ratio:.4f}")

            # Make decision and execute trade
            decision = make_decision(kraken_mean_ratio, coinbase_mean_ratio)
            if decision != 'no_trade':
                trade_count += 1
            print(execute_trade(decision))

            # Calculate and print time remaining
            time_remaining = end_time - current_time
            print(f"Time remaining: {time_remaining}")

            # Wait for 1 minute before next iteration
            time.sleep(60)

        except Exception as e:
            print(f"An error occurred: {e}")
            time.sleep(60)  # Wait a minute before retrying

    print(f"Strategy execution completed. Total iterations: {iteration_count}, Total trades executed: {trade_count}")

# Run the main function
main()

Iteration 1 at 2024-06-30 20:15:36.374836
Kraken mean buy/sell ratio: 1.2083
Coinbase mean buy/sell ratio: 0.5414
Selling 1 MATIC-USDT on Kraken
Buying 1 MATIC-USDT on Coinbase
Time remaining: 0:04:59.999826

Iteration 2 at 2024-06-30 20:16:37.459678
Kraken mean buy/sell ratio: 1.2083
Coinbase mean buy/sell ratio: 0.5414
Selling 1 MATIC-USDT on Kraken
Buying 1 MATIC-USDT on Coinbase
Time remaining: 0:03:58.914984

Iteration 3 at 2024-06-30 20:17:37.913181
Kraken mean buy/sell ratio: 1.2083
Coinbase mean buy/sell ratio: 0.5414
Selling 1 MATIC-USDT on Kraken
Buying 1 MATIC-USDT on Coinbase
Time remaining: 0:02:58.461481

Iteration 4 at 2024-06-30 20:18:38.457903
Kraken mean buy/sell ratio: 1.2083
Coinbase mean buy/sell ratio: 0.5414
Selling 1 MATIC-USDT on Kraken
Buying 1 MATIC-USDT on Coinbase
Time remaining: 0:01:57.916759

Iteration 5 at 2024-06-30 20:19:39.578022
Kraken mean buy/sell ratio: 1.2083
Coinbase mean buy/sell ratio: 0.5414
Selling 1 MATIC-USDT on Kraken
Buying 1 MATIC-USDT on Coinbase
Time remaining: 0:00:56.796640
Strategy execution completed. Total iterations: 5, Total trades executed: 5